@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Please read the associated <a href="http://conficient.wordpress.com/2014/11/03/requirejs-typescript-and-knockout-components/">blog post</a>.</p>