@{
    ViewBag.Title = "Demo 1";
}
<h2>Demo 1</h2>

<p>This demonstrates a simple viewmodel bound with Knockout, and uses a Knockout component to handle editing of the values.</p>
<form role="form">

    <label>First Name:</label>
    <div class="form-group">
        <click-to-edit params="value: FirstName"></click-to-edit>
    </div>
    <label>Last Name:</label>
    <div class="form-group">
        <click-to-edit params="value: LastName"></click-to-edit>
    </div>
    <hr />

    <button data-bind="click: Submit">Submit</button>
</form>

@* echo the value to show databinding working *@
<p class="help-block">
    Current value: {<span data-bind="text: FirstName"></span> <span data-bind="text: LastName"></span>}
</p>

@section scripts {
    <script>
        require(["views/Demo1"]);
    </script>
}