@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RequireJS + Knockout + TypeScript</h1>
    <p class="lead">Demonstrating the use of Knockout components with TypeScript and RequireJS.</p>
    <p><a href="http://knockoutjs.com/documentation/component-overview.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Knockout Components</h2>
        <p>
            Components are a powerful, clean way of organizing your UI code into self-contained, reusable chunks. You can break down
            complicated HTML pages and forms into smaller testable components.
        </p>
        <p><a class="btn btn-default" href="http://knockoutjs.com/documentation/component-overview.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TypeScript</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://www.typescriptlang.org">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>RequireJS</h2>
        <p>
            To enable asynchronous module loading, we need an AMD loader. In this example I've used requireJS and text.js,
            but Knockout Components are very flexible and you can use any AMD loader or even write your own.
        </p>
        <p><a class="btn btn-default" href="http://requirejs.org">Learn more &raquo;</a></p>
    </div>
</div>